@media (max-width: 768px) {
  /* nav-bar */
  .banner-2 {
    display: none;
  }
  #nav-bar {
    display: block;
    height: auto;
    margin-left: 10px;
  }
  #nav-bar a:link,
  a:visited {
    display: block;
    border: none;
    padding: 10px;
    text-align: left;
  }
  /* end-nav */
  /*  section1-about*/
  .mt-40.info {
    margin-left: -3rem;
    line-height: 1.5;
  }
  .cer-list {
    border-bottom: 1px solid #d6c08d;
  }
  .cer-list--2 {
    border-left: 0;
    padding-left: 10px;
  }
  .cer-list--3 {
    border-top: 0;
  }
}
